/* theme.css */

body {
    padding: 10px;
}

span {
    color: brown;
}

canvas {
    max-width: 800px;
    max-height: 400px;
}

#title {
    display: flex;
}

#title_text {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#title h1 {
    font-size: xx-large;
    color: brown;
    margin: 10px;
}

#title p {
    font-size: large;
    color: brown;
}

#interest_rate {
    cursor: pointer;
}
#principal_amount {
    cursor: pointer;
}

#loan_years {
    cursor: pointer;
}

#calculate_btn{
    background-color: white;
    color: brown;
    border: 2px solid brown; /* Green */
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.mortage_input_field {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* #main_content {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
} */